<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>
    
    <form [formGroup]="formulario" (ngSubmit)="cadastrarUsuario()">
      <!-- Email -->
      <div class="d-flex align-items-center">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail" 
          formControlName="email" 
        />
        <span *ngIf="formulario.get('email')?.valid && formulario.get('email')?.touched" class="icon-check-circle"></span>
        <span *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="icon-x-altx-alt"></span>
      </div>

      <!-- Nome -->
      <div class="d-flex align-items-center mt-3">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome completo" 
          formControlName="nome" 
        />
        <span *ngIf="formulario.get('nome')?.valid && formulario.get('nome')?.touched" class="icon-check-circle"></span>
        <span *ngIf="formulario.get('nome')?.invalid && formulario.get('nome')?.touched" class="icon-x-altx-alt"></span>
      </div>

      <!-- Usuário -->
      <div class="d-flex align-items-center mt-3">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome de usuário" 
          formControlName="usuario" 
        />
        <span *ngIf="formulario.get('usuario')?.valid && formulario.get('usuario')?.touched" class="icon-check-circle"></span>
        <span *ngIf="formulario.get('usuario')?.invalid && formulario.get('usuario')?.touched" class="icon-x-altx-alt"></span>
      </div>

      <!-- Senha -->
      <div class="d-flex align-items-center mt-3">
        <input 
          type="password"
          class="form-control" 
          placeholder="Senha" 
          formControlName="senha" 
        />
        <span *ngIf="formulario.get('senha')?.valid && formulario.get('senha')?.touched" class="icon-check-circle"></span>
        <span *ngIf="formulario.get('senha')?.invalid && formulario.get('senha')?.touched" class="icon-x-altx-alt"></span>
      </div>

      <button type="submit" class="btn btn-primary btn-sm">Cadastre-se</button>
    </form>
    <hr />

    <p class="div text-center">Ao cadastrar-se, você concorda com nossos <b>Termos</b> e <b>Política de Privacidade</b>.</p>
  </div>
</div>
<br />

<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Tem uma conta? <a href="#" class="card-link" (click)="exibirPainelLogin()">Faça login</a>
    </p> 
  </div>
</div>
