.card-title {
  background-image: url("/assets/logo-instagram.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width: 100%;
}

.form-control {
  position: relative;
}

input.ng-valid.ng-touched {
  border: 1px solid #198754;
}

input.ng-invalid.ng-touched {
  border: 1px solid #dc3545;
}

.icon-x-altx-alt, .icon-check-circle {
  position: absolute;
  right: 28px;
}

.icon-x-altx-alt {
  color: #dc3545;
}

.icon-check-circle {
  color: #198754;
}

button {
  display: block;
  width: 100%;
  margin-top: 1rem;
}
