<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>
    
    <form [formGroup]="formulario" (ngSubmit)="cadastrarUsuario()">
      <!-- Email -->
      <input 
        type="email" 
        class="form-control" 
        placeholder="E-mail" 
        formControlName="email" 
      />
      <div *ngIf="formulario.get('email')?.valid && formulario.get('email')?.touched" class="valid-feedback">OK</div>
      <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="invalid-feedback">Email inválido</div>

      <!-- Nome -->
      <input 
        type="text"
        class="form-control" 
        placeholder="Nome completo" 
        formControlName="nome" 
      />
      <div *ngIf="formulario.get('nome')?.valid && formulario.get('nome')?.touched" class="valid-feedback">OK</div>
      <div *ngIf="formulario.get('nome')?.invalid && formulario.get('nome')?.touched" class="invalid-feedback">Nome inválido</div>

      <!-- Usuário -->
      <input 
        type="text"
        class="form-control" 
        placeholder="Nome de usuário" 
        formControlName="usuario" 
      />
      <div *ngIf="formulario.get('usuario')?.valid && formulario.get('usuario')?.touched" class="valid-feedback">OK</div>
      <div *ngIf="formulario.get('usuario')?.invalid && formulario.get('usuario')?.touched" class="invalid-feedback">Usuário inválido</div>

      <!-- Senha -->
      <input 
        type="password"
        class="form-control" 
        placeholder="Senha" 
        formControlName="senha" 
      />
      <div *ngIf="formulario.get('senha')?.valid && formulario.get('senha')?.touched" class="valid-feedback">OK</div>
      <div *ngIf="formulario.get('senha')?.invalid && formulario.get('senha')?.touched" class="invalid-feedback">Senha inválida</div>

      <button type="submit" class="btn btn-primary btn-sm">Cadastre-se</button>
    </form>
    <hr />

    <p class="div text-center">Ao cadastrar-se, você concorda com nossos <b>Termos</b> e <b>Política de Privacidade</b>.</p>
  </div>
</div>
<br />

<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Tem uma conta? <a href="#" class="card-link" (click)="exibirPainelLogin()">Faça login</a>
    </p> 
  </div>
</div>
