<!-- Modal -->
<div class="modal fade" id="incluirPublicacaoModal" tabindex="-1" aria-labelledby="incluirPublicacaoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" [ngSwitch]="estadoPublicacao">
      
      <!-- Pendente -->
      <div *ngSwitchCase="'pendente'">
        <form [formGroup]="formulario" (ngSubmit)="publicar()">
          <div class="modal-header">
            <h5 class="modal-title">Criar uma publicação</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
          <div class="modal-body">
            <input 
              type="file" 
              class="form-control" 
              accept="image/*" 
              (change)="preparaImagemUpload($event)"
            />
            <input 
              type="text" 
              placeholder="Título da publicação" 
              class="form-control mt-3"
              formControlName="titulo" 
            />
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Publicar</button>
          </div>
        </form>
      </div>

      <!-- Andamento -->
      <div *ngSwitchCase="'andamento'">
        <div class="modal-header">
          <h5 class="modal-title">Publicação em andamento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
          <div class="progress">
            <div 
              class="progress-bar" 
              role="progressbar" 
              aria-label="Barra de progresso" 
              [style.width]="progressoUpload + '%'" 
              [attr.aria-valuenow]="progressoUpload" 
              aria-valuemin="0" 
              aria-valuemax="100"
            >
              {{ progressoUpload }}%
            </div>
          </div>
        </div>
      </div>

      <!-- Concluído -->
      <div *ngSwitchCase="'concluido'">
        <div class="modal-header">
          <h5 class="modal-title">Publicação realizada com sucesso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
          <p>Publicação realizada com sucesso!</p>
          <p>Arquivo disponível <a [href]="downloadURL" target="_blank">aqui</a></p>
        </div>
      </div>

      <!-- Erro -->
      <div *ngSwitchCase="'erro'">
        <div class="modal-header">
          <h5 class="modal-title">Erro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <p>Erro na publicação, tente novamente!</p>
          <p>{{ erro }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
