<div class="container">
  <div class="row">
    <!-- Banner -->
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]>
      <app-banner></app-banner>
    </div>

    <!-- Cadastro -->
    <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel] *ngIf="cadastro">
      <app-cadastro (exibirPainel)="exibirPainel($event)"></app-cadastro>
    </div>
    
    <!-- Login -->
    <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel] *ngIf="!cadastro">
      <app-login (exibirPainel)="exibirPainel($event)"></app-login>
    </div>
  </div>
</div>
