<div class="container">
  <div class="row">
    
    <!-- Banner -->
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner] style="margin-top: -1.5rem; margin-right: 32px;">
      <app-banner></app-banner>
    </div>

    <!-- Login/Cadastro -->
    <div class="col-sm-5 d-flex justify-content-start" [ngSwitch]="acesso">
      <app-login *ngSwitchCase="'login'" [@animacao-painel] (exibirPainel)="exibirPainel($event)"></app-login>
      
      <app-cadastro *ngSwitchCase="'cadastro'" [@animacao-painel] (exibirPainel)="exibirPainel($event)"></app-cadastro>
    </div>
  </div>
</div>
