<div class="row" *ngFor="let publicacao of publicacoes">
  <div class="col d-flex justify-content-center">
    <div class="card">

      <!-- Card title -->
      <div class="p-12">
        <div class="d-flex justify-content-between">
          <a>
            <img src="./assets/icons/user.svg" alt="Imagem usuário">
            <span class="card-text ml-10 fw-600">{{ publicacao.nomeUsuario }}</span>
          </a>

          <a>
            <img src="./assets/icons/more.svg" alt="Mais opções ícone">
          </a>
        </div>
      </div>

      <!-- Card imagem -->
      <div class="img-box">
        <img class="card-img" [src]="publicacao.urlImagem" />
      </div>
      
      <!-- Icons-->
      <div class="card-body p-12">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center gap-3">
            <img class="icon" src="./assets/icons/like.svg" alt="Ícone de like" />
            <img class="icon" src="./assets/icons/comment.svg" alt="Ícone de comentário" />
            <img class="icon" src="./assets/icons/share.svg" alt="Ícone de compartilhamento" />
          </div>
          
          <img class="icon" src="./assets/icons/bookmark.svg" alt="Ícone de" />
        </div>

        <!-- Publicação -->
        <p class="card-text mt-3">
          <a class="fw-600">{{ publicacao.nomeUsuario }}</a> {{ publicacao.titulo }}
        </p>

        <!-- Comentário -->
        <hr />
        <input 
          type="text" 
          class="form-control comentario"
          placeholder="Adicione um comentário..." 
        />
      </div>
    </div>
  </div>
</div>
