.card-title {
  height: 51px;
  width: 100%;
}  

.logo-instagram {
  height: 100%;
}

.form-control {
  height: 36px !important;
}

button {
  height: 30px !important;
}

.form-control, button {
  width: 268px !important;
}

button {
  display: block;
  width: 100%;
}
