<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>

    <form [formGroup]="formulario" (ngSubmit)="autenticarUsuario()">

      <!-- E-mail -->
      <div class="d-flex align-items-center">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail" 
          formControlName="email"
        />
        <span *ngIf="formulario.get('email')?.valid && formulario.get('email')?.touched" class="icon-check-circle"></span>
        <span *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="icon-x-altx-alt"></span>
      </div>

      <!-- Senha -->
      <div class="d-flex align-items-center mt-3">
        <input 
          type="password"
          class="form-control" 
          placeholder="Senha" 
          formControlName="senha"
        />
        <span *ngIf="formulario.get('senha')?.valid && formulario.get('senha')?.touched" class="icon-check-circle"></span>
        <span *ngIf="formulario.get('senha')?.invalid && formulario.get('senha')?.touched" class="icon-x-altx-alt"></span>
      </div>

      <button type="submit" class="btn btn-primary btn-sm mt-3" [disabled]="formulario.status === 'INVALID'">Entrar</button>
    </form>
    
    <div *ngIf="errorMessage.length">
      <hr />
      <p class="small text-danger text-center">{{ errorMessage }}</p>
    </div>
  </div>
</div>
<br />

<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Não tem uma conta? <a href="#" class="card-link" (click)="exibirPainelCadastro()">Cadastre-se</a>
    </p> 
  </div>
</div>
