.navbar {
  height: 60px;
  /*padding: 26px 40px;*/
  width: 100%;
  border-bottom: solid 1px #E6E6E6;
}

.container {
  max-width: 970px;
}

.logo {
  width: 116px;
  height: 34px;
  margin-top: 7px;
  float: left;
}

.icon {
  margin-right: 22px;
}

.logo, .profile {
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu[data-bs-popper] {
  width: 230px;
  font-size: 14px;

  top: 140%;
  left: -750%;

  padding-top: 0;
  padding-bottom: 0;

  border-radius: 4px;
  z-index: 2;
}

.dropdown-pin {
  height: 20px;
  width: 15px;

  position: absolute;
  z-index: 3;

  top: -11px;
  right: 30.5px;

  transform: rotate(90deg);
  clip-path: path('M8 0C8 4 9.32406e-08 7.819 1.25211e-07 10.5C1.57188e-07 13.1815 8 17.0005 8 21L8 0Z');

  background-color: var(--bs-border-color-translucent);
}

.dropdown-item {
  height: 40px;
  padding: 8px 16px;
}

.dropdown-item:active {
  background-color: #d7d7d7;
}

/*
  .shadow {
    -webkit-filter: drop-shadow(0 0 5px rgba(var(--web-always-black), .0975)) !important;
  }
*/