.navbar {
  height: 60px;
  /*padding: 26px 40px;*/
  width: 100%;
  border-bottom: solid 1px #E6E6E6;
}

.container {
  max-width: 970px;
}

.logo {
  width: 116px;
  height: 34px;
  margin-top: 7px;
  float: left;
}

.icon {
  margin-right: 22px;
}

.profile {
  height: 26px;
  width: auto;
}

.logo, .profile {
  cursor: pointer;
}
