<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <a routerLink="/home">
      <img class="logo" src="../../assets/logo-instagram.svg" alt="Logo Instagram" />
    </a>

    <div class="d-flex align-items-center" style="height: 24px;">
      <a routerLink="">
        <img class="icon" src="../../assets/icons/home.svg" alt="Home icon" />
      </a>

      <a data-bs-toggle="modal" data-bs-target="#incluirPublicacaoModal" (click)="incluirPublicacao()">
        <img class="icon" src="../../assets/icons/add.svg" alt="Nova publicação icon" />
      </a>

      <div>
        <img class="icon m-0" src="../../assets/icons/user.svg" alt="Perfil do usuário icon" />
      </div>
      <a style="display: none;" (click)="sair()">Sair</a>
    </div>
  </div>
</nav>

<div class="bg-padrao">
  <div class="container mt-4">
    <app-publicacoes #publicacoesComponent></app-publicacoes>

    <!-- Modal -->
    <app-incluir-publicacao #incluirPublicacaoComponent (atualizarTimeline)="atualizarTimeline()"></app-incluir-publicacao>
  </div>
</div>
