<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <!-- Logo -->
    <a routerLink="/home">
      <img class="logo" src="../../assets/logo-instagram.png" alt="Logo Instagram" />
    </a>

    <!-- Menu -->
    <div class="d-flex align-items-center" style="height: 24px;">
      <a class="icon" routerLink="/home" (click)="atualizarIcon('home')">
        <img src="../../assets/icons/home{{ iconFill[0] }}.svg" alt="Home icon" />
      </a>

      <a class="icon" data-bs-toggle="modal" data-bs-target="#incluirPublicacaoModal" (click)="incluirPublicacao()">
        <img src="../../assets/icons/add{{ iconFill[1] }}.svg" alt="Nova publicação icon" />
      </a>

      <div class="icon m-0" (click)="atualizarIcon('user')">
        <img src="../../assets/icons/user{{ iconFill[2] }}.svg" alt="Perfil do usuário icon" />
      </div>
         
    </div>
  </div>
</nav>

<div class="bg-padrao">
  <div class="container mt-4">
    <app-publicacoes #publicacoesComponent></app-publicacoes>

    <!-- Modal -->
    <app-incluir-publicacao 
      #incluirPublicacaoComponent 
      (atualizarTimeline)="atualizarTimeline()" 
      (atualizarHomeIcon)="atualizarIcon('home')"
    >
    </app-incluir-publicacao>
  </div>
</div>
